{{ define "main" }}
<main class="_pagefind">
  <section>
    <h1>{{ block "title" . }}{{ .Title }}{{ end }}</h1>

    <div id="search"></div>

    <script src="/pagefind/pagefind-ui.js"></script>
    
    <script>
      window.addEventListener('DOMContentLoaded', event => {
        new PagefindUI({ 
          element: '#search',
          excerptLength: 30,
          showSubResults: true, 
          showImages: false,
          translations: {
            placeholder: document.querySelector('html').getAttribute('lang') == 'en' ? "Search…" : "Hledat…",
          } 
        });

        let promoted = document.createElement('DIV')
        promoted.setAttribute('id', 'search-promoted')
        document.querySelector('.pagefind-ui__drawer').append(promoted)
        document.querySelector('.pagefind-ui__search-input').addEventListener("input", event => {
          console.log(event.target.value.match(/přístupn/))
          if (event.target.value.match(/přístupn/)) {
            let link = '/pristupnost/';
            let title = 'Příručka přístupnosti';
            let description = 'Přístupnost znamená snadnou dostupnost pro všechny lidi. Myslí se tím nejen bezbariérovost staveb, ale i srozumitelnost informací nebo možnost využít nabízené služby a zboží.';
            promoted.innerHTML = `<div class="_promoted-result"><p class="title"><span class="_tag">Doporučujeme</span><br><a href="${link}">${title}</a></p><p>${description}</p></div>`;
          }
        })
      });
    </script>
  </section>
</main>
{{ end }}



