{{ define "main" }}
<main class="_pagefind">
  <section>
    <h1>{{ block "title" . }}{{ .Title }}{{ end }}</h1>

    <div id="search"></div>

    <script src="/pagefind/pagefind-ui.js"></script>

    <script>
      window.addEventListener('DOMContentLoaded', async event => {
        new PagefindUI({
          element: '#search',
          excerptLength: 30,
          showSubResults: true,
          showImages: false,
          translations: {
            placeholder: document.querySelector('html').getAttribute('lang') == 'en' ? "Search…" : "Hledat…",
          }
        });

        const recommended = await fetch('/pagefind.json')
          .then(res => res.json())
          .then(res => {
            res.keywords.forEach(item => item.regExp = new RegExp(`${item.keyword}`, 'g'));
            return res.keywords;
          });

        let promoted = document.createElement('DIV')
        let current = null

        promoted.setAttribute('id', 'search-promoted')
        document.querySelector('.pagefind-ui__drawer').append(promoted)
        document.querySelector('.pagefind-ui__search-input').addEventListener("input", event => {
          const result = recommended.find(rec => event.target.value.match(rec.regExp));

          if (!result && current) {
            promoted.innerHTML = '';
            current = null
          } else if (result !== current) {
            promoted.innerHTML = `<div class="_promoted-result"><p class="title"><span class="_tag">Doporučujeme</span><br><a href="${result.link}">${result.title}</a></p><p>${result.description}</p></div>`;
            current = result
          }
        })
      });
    </script>
  </section>
</main>
{{ end }}



