._contact {
  @include small-only {
    text-align: center;
  }

  @include medium {
    @include grid(4rem 1fr);
    grid-gap: 1rem;
    align-items: center;
    margin: 1.5rem 0;
  }

  p {
    margin: 0;

    .email,
    .phone {
      font-weight: bold;
      color: $green;
    }
  }

  .img-wrapper {
    overflow: hidden;

    @include small-only {
      height: 40vw;
      width: 40vw;
      border-radius: 20vw;
      margin: 3rem auto 1rem;
    }

    @include medium {
      height: 4rem;
      width: 4rem;
      border-radius: 2rem;
    }

    img {
      display: block;
      filter: grayscale(100%);
      width: 100%;
    }
  }
}
