._eso-preview {
  input[type="submit"] {
    display: block;
    border: 0;
    padding: 0;
    margin: 3rem 0 0.5rem;
    max-width: 100%;
    background: transparent;

    color: $green;
    text-decoration: underline;
    white-space: normal;
    text-align: left;
    line-height: 1.2;
    cursor: pointer;

    @include font-size-xxl;
    @include font-family-headline;
  }
}
