{{ define "title" }}{{ .Params.plural }}{{ end }}

{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

      {{ .Content }}
    </section>
    <section class="_news single-col">
      {{ if eq .RelPermalink "/vystupy/tv/" }}
        {{ range .Pages.GroupByDate "2006" }}
          {{ partial "collapsible-open.html" (dict "id" .Key "title" (print "Sezóna " .Key) "open" false) }}
          {{ range .Pages }}
            {{ partial "news-preview.html" (dict "preview" .) }}
          {{ end }}
          {{ partial "collapsible-close.html" }}
        {{ end }}
      {{ else if eq .RelPermalink "/vystupy/vyzkumy/" }}
        <ul class="_horizontal-list">
          <li><a href="{{ .Permalink }}" class="selected">{{ i18n "research-by-year" }}</a></li>
          {{ with .GetPage "/vyzkumy-vse" }}
            <li><a href="{{ .Permalink }}">{{ i18n "research-all" }}</a></li>
          {{ end }}
        </ul>

        {{ range .Pages.GroupByDate "2006" }}
          {{ partial "collapsible-open.html" (dict "id" .Key "title" (print .Key) "open" false) }}
          {{ range .Pages }}
            {{ partial "news-preview.html" (dict "preview" . "h" "4") }}
          {{ end }}
          {{ partial "collapsible-close.html" }}
        {{ end }}
      {{ else}}
        {{ $paginator := .Paginate .Pages 20 }}

        {{ range $paginator.Pages }}
          {{ partial "news-preview.html" (dict "preview" .) }}
        {{ end }}

        {{ partial "pagination.html" $paginator }}
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
