{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      <ul class="_link-list">
        {{ range where .Pages "Params.media" "ne" true }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h2>{{ i18n "eso-docs" }}</h2>
      <p>
        Ombudsman publikuje svá stanoviska prostřednictvím databáze <a href="/eso/">ESO</a> (Evidence stanovisek ombudsmana). Najdete v ní mimo jiné
        {{ $docsCats := where (where .Site.Pages "Section" "eso") "Kind" "page"}}
        {{ range $index, $cat := $docsCats }}
          <strong>{{ $cat.Title }}</strong>
          {{- if lt (add $index 2) (len $docsCats) }}, {{ end -}}
          {{- if eq (add $index 2) (len $docsCats) }} a {{ end -}}
        {{ end }}.
      </p>

      <p>
        <a class="_button" href="/eso/">Více informací o ESO</a>
      </p>

      <h2>{{ i18n "in-media" }}</h2>

      <ul class="_link-list">
        {{ range where .Pages "Params.media" true }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      {{ .Content }}

      {{ with .Params.info }}
      <p class="_icon-info">
        {{ . | markdownify }}
      </p>
      {{ end }}
    </section>

    {{ partial "cta.html" . }}
  </div>
</main>
{{ end }}
