{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      <ul class="_link-list">
        {{ $sorted := split .Params.itemOrder "\n" }}
        {{ range $sorted }}
          {{ if eq . "Zpravodaj" }}
              <li><a href="/zpravodaj">Zpravodaj</a></li>
          {{ else }}
            {{ range where $.Pages "Params.plural" . }}
              <li><a href="{{ .Permalink }}">{{ .Params.plural }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}

        {{ range sort (where .Pages "Params.listed" true) "Params.plural" }}
          {{ if not (in $sorted .Params.plural) }}
          <li><a href="{{ .Permalink }}">{{ .Params.plural }}</a></li>
          {{ end }}
        {{ end }}
      </ul>

      {{ if eq .Language.Lang "cs" }}
        <h2>{{ i18n "eso-docs" }}</h2>
        <p>
          Ombudsman publikuje svá stanoviska prostřednictvím databáze <a href="{{ .Site.BaseURL }}/eso/">ESO</a> (Evidence stanovisek ombudsmana). Najdete v ní mimo jiné
          {{ $docsCats := where (where .Site.Pages "Section" "eso") "Kind" "page"}}
          {{ range $index, $cat := $docsCats }}
            <strong>{{ $cat.Title }}</strong>
            {{- if lt (add $index 2) (len $docsCats) }}, {{ end -}}
            {{- if eq (add $index 2) (len $docsCats) }} a {{ end -}}
          {{ end }}.
        </p>
        <p>
          <a class="_button" href="{{ .Site.BaseURL }}/eso/">Více informací o ESO</a>
        </p>
      {{ end }}

      {{ .Content }}

      {{ with .Params.info }}
      <p>
        <span class="_icon-info" aria-hidden="true"></span>
        {{ . | markdownify }}
      </p>
      {{ end }}
    </section>

    {{ partial "cta.html" . }}
  </div>
</main>
{{ end }}
