{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      <ul class="_link-list">
        {{ range where .Pages "Params.media" "ne" true }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      <h2>{{ i18n "eso-docs" }}</h2>
      <ul class="_link-list">
        {{ range where (where .Site.Pages "Section" "eso") "Kind" "page" }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h2>{{ i18n "in-media" }}</h2>

      <ul class="_link-list">
        {{ range where .Pages "Params.media" true }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      {{ .Content }}

      <p class="_icon-info">
        {{ .Params.info | markdownify }}
      </p>
    </section>

    {{ partial "cta.html" . }}
  </div>
</main>
{{ end }}
