{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ else }}
        <div class="perex">
          <p>{{ i18n "leaflets-intro" }}</p>
        </div>
      {{ end }}

      <ul class="_link-list">
        {{ range sort .Pages "File.Path" "asc" }}
          {{ $path := replaceRE "[^/]+$" "" .Permalink }}
          <li><a href="
            {{- if (len (findRE "^http" .Params.file)) }}
              {{ .Params.file }}
            {{- else -}}
              {{ $path }}{{ .Params.file | replaceRE ".+/" "" }}
            {{- end }}">{{ .Title | replaceRE " -[  ]" " – " }}</a>
            {{ if (in .Params.situace "Formuláře") }}
              <span class="_label">Formulář</span>
            {{ end }}
            {{ if or (isset .Params "info") (isset .Params "roma") (isset .Params "seeing") }}
              <ul>
                {{ with .Params.info }}
                  <li><a href="{{ $path }}{{ . | replaceRE ".+/" "" }}">příloha</a></li>
                {{ end }}
                {{ with .Params.roma }}
                  <li><a href="{{ $path }}{{ . | replaceRE ".+/" "" }}">romsky</a></li>
                {{ end }}
                {{ with .Params.seeing }}
                  <li><a href="{{ $path }}{{ . | replaceRE ".+/" "" }}">verze pro osoby se zrakovým postižením</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
        </ul>

        <p><a class="_button back" href="../">{{ i18n "all-situations" }}</a></p>
    </section>
  </div>
</main>
{{ end }}
