{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

      <ul class="_horizontal-list">
        <li><a href="{{ .Permalink }}" class="selected">{{ i18n "handouts-by-sit" }}</a></li>
        {{ with .GetPage "/letaky" }}
          <li><a href="{{ .Permalink }}">{{ i18n "handouts-all" }}</a></li>
        {{ end }}
      </ul>

      <ul class="_link-list">
        {{ range sort .Pages "File.Path" "asc" }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      {{ if eq .Language.Lang "cs" }}
      <a href="https://domek.ochrance.cz/" class="_domek">
        <div class="title">
          <h2>Domek polopatě</h2>
          <p>Věcný průvodce stavbou rodinného domu</p>
        </div>
      </a>
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
