{{ define "main" }}
  <article>
    {{ partial "pic-header.html" . }}
    <section>
      <div class="perex">
        {{ partial "md-block.html" .Params.perex }}
      </div>

      {{ with .Content }}
        {{ . }}
      {{ end }}


      {{ with index .Params "we-can" }}
        <h2>{{ i18n "we-can-help" }}</h2>

        <ul class="_we-can">
          {{ range . }}
            <li>{{ partial "typo.html" . }}</li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .Params.examples }}
        {{ partial "collapsible-open.html" (dict "id" "examples" "title" (i18n "case-examples") "open" true)}}

        {{ range . }}
          <blockquote>
            {{ partial "md-block.html" .desc }}
            <footer>{{ .name }}</footer>
          </blockquote>
        {{ end }}
        {{ partial "collapsible-close.html" }}

      {{ end }}

      {{ with .Params.whenToContact }}
        {{ partial "collapsible-open.html" (dict "id" "when" "title" (i18n "right-time") "open" false)}}

        <ul>
        {{ range . }}
          <li>
            {{ partial "md-block.html" . }}
          </li>
        {{ end }}
        </ul>

        {{ partial "collapsible-close.html" }}

      {{ end }}


      {{ with index .Params "we-cannot" }}
        <h2>{{ i18n "we-cannot-help" }}</h2>

        <ul class="_we-cannot">
          {{ range . }}
            <li>{{ partial "typo.html" . }}</li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .Params.button }}
        <p><a class="_button" href="{{ .link }}">{{ .text }}</a></p>
      {{ end }}
    </section>

    {{ with .GetPage "/podejte-stiznost" }}
    <div class="_backdrop cta">
      <section>
        <h2>{{ i18n "can-we-help" }}</h2>
        <p><a href="{{ .RelPermalink }}" class="_button large">{{ i18n "submit-complaint" }}</a></p>
      </section>
    </div>
    {{ end }}
  </article>
{{ end }}
