{{ define "main" }}
  <article>
    {{ partial "pic-header.html" . }}
    <section>
      <div class="perex">
        {{ partial "md-block.html" .Params.perex }}
      </div>
      {{ with index .Params "we-can" }}
        <h2>Můžeme pomoci</h2>

        <ul class="_we-can">
          {{ range . }}
            <li>{{ partial "typo.html" . }}</li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .Params.examples }}
        {{ partial "collapsible-open.html" (dict "id" "examples" "title" "Příklady řešených problémů" "open" true)}}
        <h3></h3>

        {{ range . }}
          <blockquote>
            <div class="_blockquote-body">
              {{ partial "md-block.html" .desc }}
            </div>
            <cite>{{ .name }}</cite>
          </blockquote>
        {{ end }}
        {{ partial "collapsible-close.html" }}

      {{ end }}


      {{ with index .Params "we-cannot" }}
        <h2>Nemůžeme pomoci</h2>

        <ul class="_we-cannot">
          {{ range . }}
            <li>{{ partial "typo.html" . }}</li>
          {{ end }}
        </ul>

        <p><a class="_button" href="">Zjistěte co dělat</a></p>
      {{ end }}
    </section>

    <div class="_backdrop cta">
      <section>
        <h2>Zjistili jste, že vám ombudsman může pomoci?</h2>
        <p><a href="/podejte-stiznost/" class="_button large">Podejte podnět</a></p>
      </section>
    </div>
  </article>
{{ end }}
