{{ define "main" }}
<main>
  {{ partial "text-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

      {{ if or (isset .Params "report") (isset .Params "subreports") }}
        <ul class="_link-list">
          {{ with .Params.report }}
            <li><a href="{{ . }}">Výroční zpráva</a></li>
          {{ end }}
          {{ with .Params.subreports }}
            {{ range . }}
              <li><a href="{{ .link }}">{{ .title }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}

      {{ .Content }}

      {{ with .Params.file }}
        <a href="{{ . }}" class="_button">Stáhnout dokument</a>
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
