{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

    	{{ .Content }}

      {{ with .GetPage "/pusobnost/" }}
      <p class="_icon-info">
        {{ .Params.seeMore | markdownify }}
      </p>
      {{ end }}
    </section>
  </div>

  {{ $newsCat := "" }}
  {{ if findRE "monitorovani" .File.Dir }}
   {{ $newsCat = "monitorovani" }}
  {{ end }}
  {{ if findRE "diskriminace" .File.Dir }}
   {{ $newsCat = "diskriminace" }}
  {{ end }}
  {{ if findRE "osobni-svobody" .File.Dir }}
   {{ $newsCat = "detence" }}
  {{ end }}

  {{ if and (eq .Language.Lang "cs") (ne $newsCat "") }}
    <div class="_backdrop news">
      <section class="_news">
        <h2>{{ i18n "news" }}</h2>

        {{ with .GetPage (print "/vystupy/" $newsCat) }}
          {{ range first 3 .Pages }}
            {{ partial "news-preview.html" . }}
          {{ end }}

          <p><a href="{{ .RelPermalink }}" class="_button">{{ i18n "more-news" }}</a></p>
        {{ end }}
      </section>
    </div>
  {{ end }}

  {{ partial "cta.html" . }}
</main>
{{ end }}
