@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus,
  &:active {
    display: block;

    margin: 0;
    width: auto;
    height: auto;
    padding: 0.25rem;

    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 9999;

    background-color: black;
    color: white;

    clip: auto;
  }
}

.skip-link,
.visuallyhidden {
  @include visuallyhidden;
}
