$green: #008576;
$green-bright: #e5f5f3;

$orange: #e17d28;
$orange-bright: #fcf6e9;
$orange-dark: #893f00;

$pink: #aa0546;
$pink-bright: #f7e8ee;

$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;

$border-gray: #b8b8b8;
$border-green: #7fc2ba;
