$grid-gap: 2rem;

@mixin bg($color) {
  background-color: $color;
  padding: 3rem;
}

@mixin grid($cols: false) {
  display: grid;
  grid-gap: $grid-gap;

  @if ($cols) {
    grid-template-columns: $cols;
  }
}

main,
article {
  ._pic-header,
  ._footer-pic {
    align-items: center;
    min-height: 30vh;

    box-sizing: border-box;
    @include grid;

    @include small-only {
      padding: 2rem 1rem 0;

      .perex {
        margin: 1rem 0rem 0;
      }
    }

    @include medium {
      grid-template-columns: 1fr 50%;

      h1 {
        margin-top: 3rem;
      }

      h1,
      h2,
      p {
        margin-left: 10vw;
      }

      .perex {
        margin: 0 0 2rem;
      }
    }

    .single-hue-pic-wrapper {
      position: relative;

      .single-hue-pic {
        img {
          margin: 0;
          width: 100%;
          height: 100%;
          filter: brightness(1.2) grayscale(100%);

          object-fit: cover;
          object-position: 50% 20%;
        }

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          display: block;
          content: " ";
          background: $green;
          opacity: 0.5;
          mix-blend-mode: multiply;
        }
      }

      @include small-only {
        margin: 0 -1rem;
        height: 30vh;
        overflow: hidden;

        .single-hue-pic {
          img {
            height: 30vh;
            width: 100%;
          }
        }
      }

      @include medium {
        height: 100%;

        .single-hue-pic {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .pink .single-hue-pic-wrapper .single-hue-pic::after {
    background: $pink;
  }

  .orange .single-hue-pic-wrapper .single-hue-pic::after {
    background: $orange;
  }

  .yellow .single-hue-pic-wrapper .single-hue-pic::after {
    background: $yellow;
  }

  ._footer-pic {
    background: $gray;

    @include medium {
      margin-top: 4rem;

      .text {
        margin-bottom: 3rem;
      }
    }
  }
}

main,
article {
  section {
    margin: 3rem auto;
    padding: 0 1rem;

    & > :first-child {
      margin-top: 0;
    }

    @include medium {
      max-width: 40rem;

      &._full,
      &._news {
        max-width: 80vw;

        &.two-col {
          @include grid(repeat(2, 1fr));
        }

        h1,
        h2,
        h3 {
          margin: 0;
          grid-column: 1 / -1;
        }
      }

      &._news {
        @include grid(repeat(3, 1fr));

        &.single-col,
        &.two-col {
          max-width: 40rem;

          @include grid(1fr);
        }
      }
    }
  }

  & > section {
    margin: 4rem auto;
  }

  & > section:last-child {
    margin-bottom: 3rem;
  }
}
