{{ define "title"}}Informace podle zákona 106/1999 Sb. za rok {{ .Title }}{{ end }}

{{ define "main" }}
<main>
  <div class="_backdrop header {{ with .Params.headerColor }}{{ . }}{{ end }}">
  <header class="_text-header">
    <h1>{{ if lt 2000 .Title }}Informace podle zákona 106/1999 Sb. za rok{{ end }} {{ .Title }}</h1>
    <div class="perex">
      {{- "" -}}<span class="{{ with .Params.descriptionInfoIcon }}icon-info{{ end }}" aria-hidden="true"></span>
      {{ with .Params.description }}
        {{ partial "md-block.html" . }}
      {{ end }}
    </div>
  </header>
  </div>

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .GetPage "/info106" }}
      <nav>
        <ul class="_horizontal-list more">
          {{ range first 4 (sort .Pages ".File.Path" "desc") }}
              <li><a href="{{ .Permalink }}" {{ if eq .RelPermalink $.RelPermalink }}class="selected"{{ end }}>{{ .Title }}</a></li>
          {{ end }}

          {{ $random := delimit (shuffle (split (md5 now.Unix) "" )) "" }}
          <li class="_more-collapsible">
            <input type="checkbox" id="nav-opener-{{ $random }}">
            <div class="box">
              <p class="title">
                <label for="nav-opener-{{ $random }}">
                  Starší
                </p>
              </span>
              <ul>
                {{ range after 4 (sort .Pages ".File.Path" "desc") }}
                  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </div>
          </li>

        </ul>
      </nav>
      {{ end }}

      <h2>{{ if lt 2000 .Title }}Informace podle zákona 106/1999 Sb. za rok{{ end }} {{ .Title }}</h2>

      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

    	{{ .Content }}

      {{ with .GetPage "/info106 "}}
        <p><a href="{{ .Permalink }}" class="_button back">{{ i18n "back" }}</a>
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
