{{ define "title"}}Informace podle zákona 106/1999 Sb. za rok {{ .Title }}{{ end }}

{{ define "main" }}
<main>
  <div class="_backdrop header {{ with .Params.headerColor }}{{ . }}{{ end }}">
  <header class="_text-header">
    <h1>{{ if lt 2000 .Title }}Informace podle zákona 106/1999 Sb. za rok{{ end }} {{ .Title }}</h1>
    <div class="perex {{ with .Params.descriptionInfoIcon }}icon-info{{ end }}">
      {{ with .Params.description }}
        {{ partial "md-block.html" . }}
      {{ end }}
    </div>
  </header>
  </div>

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .GetPage "/info106" }}
        <ul class="_link-list">
          {{ range (sort .Pages ".File.Path" "desc") }}
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

    	{{ .Content }}

      {{ with .GetPage "/info106 "}}
        <p><a href="{{ .RelPermalink }}" class="_button back">{{ i18n "back" }}</a>
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
