{{ define "main" }}
<main>
  {{ partial "text-header.html" . }}

  <section>
    {{ with .Params.links }}
      {{ partial "link-list.html" (dict "list" . "page" $) }}

      {{ $.Content }}
    {{ else }}
      {{ with $.Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}



      <p>
        <a class="_button" href="https://eso.ochrance.cz">Vstoupit do ESO</a>
      </p>

      {{ $.Content }}

      {{ range .Pages }}
        <article class="_article-preview">
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          {{ with .Params.perex }}
            {{ partial "md-block.html" . }}
          {{ end }}
        </article>
      {{ end }}
    {{ end }}
  </section>
</main>
{{ end }}
