{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

    	{{ .Content }}

      <h2>Kde hledat tato stanoviska?</h2>
      <ul>
        {{ range .Params.eso }}
          <li>{{ .title }}</li>
        {{ end }}
      </ul>

      {{ if eq .Language.Lang "cs" }}
        <h2>Jak používat ESO?</h2>
        {{ partial "youtube.html" "lBpJjN13Q8E" }}
      {{ end }}

      <p>
        <a class="_button" href="https://eso.ochrance.cz">Vstoupit do ESO</a>
      </p>
    </section>
  </div>
</main>
{{ end }}
