{{ $random := delimit (shuffle (split (md5 .Unix) "" )) "" }}
<div class="_download-collapsible">
  <input type="checkbox" id="nav-opener-{{ $random }}">
  <div class="box">
    <p class="title">
      <label role="button" tabindex="0" class="opener" for="nav-opener-{{ $random }}" aria-controls="{{ $random }}-content" aria-expanded="false">
        {{ .title }}
      </label>
    </p>
    <ul id="{{ $random }}-content">
      {{ range .items }}
        <li><a href="{{ .link }}">{{ .desc }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
