{{ define "link" }}
  <article class="_home-link">
    <h3>
      <a
        href="{{ cond (isset .Params "link") .Params.link .RelPermalink }}"
        class="icon-{{ with .Params.icon }}{{ . }}{{ else }}arrow{{ end }}">
        {{- .Title -}}
      </a>
    </h3>
    {{ partial "md-block.html" .Params.hp }}
  </article>
{{ end }}

{{ range sort (where . "Kind" "page") "Params.order" }}
  {{ block "link" . }}{{ end }}
  {{ if and (eq .Params.order 1) (eq .Section "cinnost")  }}
    {{ with .GetPage "/vystupy/" }}
      {{ block "link" . }}{{ end }}
    {{ end }}
  {{ end }}
{{ end }}
