{{ $page := .page -}}
<ul class="_link-list">
  {{ range .list }}
    <li><a href="
      {{ with .file }}
        {{- (print $page.Permalink (replaceRE "^.+/" "" .)) -}}
      {{ else }}
        {{ if (findRE "^http" .link) }}
          {{- .link -}}
        {{- else -}}
          {{- $link := ($page.GetPage .link).RelPermalink -}}
          {{ with $link }}
            {{-  . | absURL -}}
          {{ end }}
        {{- end -}}
      {{ end }}">
        {{- with .text }}{{ . }}{{ else }}{{ .title }}{{ end -}}
      </a></li>
  {{ end }}
</ul>
