{{ $page := .page -}}
<ul class="_link-list">
  {{ range .list }}
    <li><a href="
      {{- with .file -}}
        {{- (print $page.Permalink (replaceRE "^https?://www.ochrance.cz/" "/" .)) -}}
      {{- else -}}
        {{- if (findRE "^http" .link) -}}
          {{- .link -}}
        {{- else -}}
          {{- $link := ($page.GetPage .link).Permalink -}}
          {{- with $link -}}
            {{-  . | absURL -}}
          {{- else -}}
            {{ .link }}
          {{- end -}}
        {{- end -}}
      {{- end }}">
        {{- with .text }}{{ . }}{{ else }}{{ .title }}{{ end -}}
      </a></li>
  {{ end }}
</ul>
