<div class="_backdrop header {{ with .Params.headerColor }}{{ . }}{{ end }}">
  <header class="_pic-header">
    <h1>{{ .Title }}</h1>

    {{ with .Params.illustration }}
      <div class="single-hue-pic-wrapper">
        <div class="single-hue-pic">
          {{ $pic := $.Resources.GetMatch . }}
          {{ with $pic }}
            <img src="{{ (.Resize "900x").RelPermalink }}" alt="" aria-hidden="true">
          {{ else }}
            {{ $pic := ($.Site.GetPage "/images/").Resources.GetMatch (replaceRE "/?images/" "" .) }}
            {{ with $pic }}
              <img src="{{ (.Resize "900x").RelPermalink }}" alt="" aria-hidden="true">
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  </header>
</div>
