<div class="_backdrop footer">
  <footer class="_site-footer">
    <div class="cols">
      <!-- <form>
        <h2>{{ i18n "stay-informed" }}</h2>

        <p>{{ i18n "subscribe" }}</p>
        <div class="newsletter-wrapper">
          <input type="email" placeholder="jmeno@email.cz">
          <input type="submit" value="Přihlásit se">
        </div>
        {{ with .GetPage "/" }}
          <p class="_typo--small">{{ .Params.consent | markdownify }}</p>
        {{ end }}
      </form> -->

      <section>
        <h2>{{ i18n "get-overview" }}</h2>
        <ul>
          {{ with .Site.GetPage "pristupnost/snadne-cteni" }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ with .Site.GetPage "situace" }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ with .Site.GetPage "vystupy" }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ with .Site.GetPage "o-nas/predpisy" }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </section>

      <section class="stay-in-touch">
        <h2>{{ i18n "stay-in-touch" }}</h2>
        <ul>
          <li>
            <span class="facebook-label">Facebook: </span>
            <a href="https://fb.com/verejny.ochrance.prav">verejny.ochrance.prav</a>
          </li>

          <li>
            <span class="twitter-label">Twitter: </span>
            <a href="https://twitter.com/ochranceprav">@ochranceprav</a>
          </li>

          <li>
            <span class="instagram-label">Instagram: </span>
            <a href="https://www.instagram.com/verejny.ochrance.prav">verejny.ochrance.prav</a>
          </li>

          <li>
            <span class="youtube-label">Youtube: </span>
            <a href="https://www.youtube.com/channel/UCdWvuDhPr0GVH1mlSbWnNjQ">Ombudsman</a>
          </li>
        </ul>
      </section>

      <section class="stay-in-touch">
        <h2>{{ i18n "check-in" }}</h2>

        <ul>
          <li>
            <span class="email-label">{{ i18n "e-mail" }}: </span>
            <a href="mailto:{{ (.GetPage "kontakt").Params.email }}">{{ (.GetPage "kontakt").Params.email }}</a>
          </li>

          <li>
            <span class="phone-label">{{ i18n "phone" }}: </span>
            <span class="phone">{{ (.GetPage "kontakt").Params.phone }}</span>
          </li>

        </ul>
      </section>
    </div>
    <hr>
    <div class="bottom-line">
      <p>&copy; {{ now.Format "2006" }} {{ i18n "kvop" }}</p>
      <p class="a11y">
          {{ with .GetPage "/" }}
            {{ .Params.accessibility | markdownify }}
          {{ end }}
        </span>
      </p>
   </div>
  </footer>
</div>
