<header class="_site-header">
  <div class="backdrop">
    <a class="root-link" href="/">
      <img class="logo" src="/images/logo.svg" width="200">
    </a>

    <div class="_collapsible-nav">
      <input type="checkbox" id="site-nav-toggle">
      <label class="hide-nav" for="site-nav-toggle"></label>
      <div class="box">
        <h3 class="title">
          <label for="site-nav-toggle">
            Menu
          </label>
        </h3>

        <nav aria-label="Hlavní menu">
          <ul>
            <li class="dropdown">
              <button type="button" class="dropdown-title" aria-controls="help-dropdown">
                Potřebuji pomoc
              </button>
              <ul class="dropdown-menu" id="help-dropdown">
                {{ range sort (where (where .Site.Pages "Section" "potrebuji-pomoc") "Kind" "page") "Params.order" }}
                  <li>
                    <a
                      href="{{ .RelPermalink }}"
                      class="icon-{{ with .Params.icon }}{{ . }}{{ else }}arrow{{ end }}">
                      {{- .Title -}}
                    </a>
                  </li>
                {{ end }}

                <li><a href="">Správa a evidence podnětů</a></li>
                <li class="_eso-link">{{ partial "link.html" ($.GetPage "/eso") }}</li>
              </ul>
            </li>
            <li class="dropdown">
              <button type="button" class="dropdown-title" aria-controls="inst-dropdown">
                Naše činnost
              </button>
              <ul class="dropdown-menu" id="inst-dropdown">
                {{ range sort (where (where .Site.Pages "Section" "cinnost") "Kind" "page") "Params.order" }}
                  <li>
                    <a
                      href="{{ .RelPermalink }}"
                      class="icon-{{ with .Params.icon }}{{ . }}{{ else }}arrow{{ end }}">
                      {{- .Title -}}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </li>
            <!-- <li class="dropdown">
              <button type="button" class="dropdown-title" aria-controls="about-us-dropdown">
                O nás
              </button>
              <ul class="dropdown-menu" id="about-us-dropdown">
                {{ range sort (where (where .Site.Pages "Section" "o-nas") "Kind" "page") "Params.order" }}
                  <li>
                    <a
                      href="{{ .RelPermalink }}"
                      class="icon-{{ with .Params.icon }}{{ . }}{{ else }}arrow{{ end }}">
                      {{- .Title -}}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </li>-->
            <li class="group">
              <ul>
                <li>{{ partial "link.html" ($.GetPage "/o-nas") }}</li>
                <li>{{ partial "link.html" ($.GetPage "/aktualne") }}</li>
                <li>{{ partial "link.html" ($.GetPage "/kontakt") }}</li>
              </ul>
            </li>
            <li><a href="/hledat/" class="search">Hledání</a></li>
            <li><a href="/en/" class="lang">EN</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
