{{ define "menu-link" }}
<li>
  <a
    href="{{ cond (isset .Params "link") .Params.link .RelPermalink }}"
    class="icon-{{ with .Params.icon }}{{ . }}{{ else }}arrow{{ end }}">
    {{- .Title -}}
  </a>
</li>
{{ end }}

<header class="_site-header">
  <div class="backdrop">
    {{ if eq .Language.Lang "en" }}
      <a class="root-link" href="/en/">
        <img class="logo" src="/images/logo-en.svg" width="200">
      </a>
    {{ else }}
      <a class="root-link" href="/">
        <img class="logo" src="/images/logo.svg" width="200">
      </a>
    {{ end }}

    <div class="_collapsible-nav">
      <input type="checkbox" id="site-nav-toggle">
      <label class="hide-nav" for="site-nav-toggle"></label>
      <div class="box">
        <h3 class="title">
          <label for="site-nav-toggle">
            Menu
          </label>
        </h3>

        <nav aria-label="Hlavní menu">
          <ul>
            <li class="dropdown">
              <button type="button" class="dropdown-title" aria-controls="help-dropdown">
                {{ i18n "need-help" }}
              </button>
              <ul class="dropdown-menu" id="help-dropdown">
                {{ range sort (where (where .Site.Pages "Section" "potrebuji-pomoc") "Kind" "page") "Params.order" }}
                  {{ block "menu-link" . }}{{ end }}
                {{ end }}
                <li><a href="https://portal.ochrance.cz">{{ i18n "sep" }}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <button type="button" class="dropdown-title" aria-controls="inst-dropdown">
                {{ i18n "our-work" }}
              </button>
              <ul class="dropdown-menu" id="inst-dropdown">
                  {{ with .GetPage "/info/setreni" }}
                    {{ block "menu-link" . }}{{ end }}
                  {{ end }}

                  {{ with .GetPage "/vystupy/" }}
                    {{ block "menu-link" . }}{{ end }}
                  {{ end }}

                  {{ with .GetPage "/vzdelavaci-akce" }}
                    {{ block "menu-link" . }}{{ end }}
                  {{ end }}

                  {{ with .GetPage "/projekty" }}
                    {{ block "menu-link" . }}{{ end }}
                  {{ end }}

                  {{ with .GetPage "/eso" }}
                    {{ block "menu-link" . }}{{ end }}
                  {{ end }}
              </ul>
            </li>
            </li>
            <li class="group">
              <ul>
                {{ with $.GetPage "/o-nas" }}
                  <li>{{ partial "link.html" . }}</li>
                {{ end }}
                {{ with $.GetPage "/aktualne" }}
                  <li>{{ partial "link.html" . }}</li>
                {{ end }}
                {{ with $.GetPage "/kontakt" }}
                  <li>{{ partial "link.html" . }}</li>
                {{ end }}
              </ul>
            </li>
            <li><a href="/hledat/" class="search">{{ i18n "search" }}</a></li>
            {{ if .IsTranslated }}
              {{ range .Translations }}
                {{ if ne .Language.Lang $.Language.Lang }}
                  <li><a href="{{ .RelPermalink }}" class="lang">
                    {{ .Language.Lang | upper }}
                  </a></li>
                {{ end  }}
              {{ end }}
            {{ else }}
              {{ if eq .Language.Lang "cs" }}
                <li><a href="/en/" class="lang">EN</a></li>
              {{ else }}
                <li><a href="/" class="lang">CS</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
