<div class="_backdrop footer">
  <footer class="_site-footer">
    <div class="cols">
      <!-- <form>
        <h2>{{ i18n "stay-informed" }}</h2>

        <p>{{ i18n "subscribe" }}</p>
        <div class="newsletter-wrapper">
          <input type="email" placeholder="jmeno@email.cz">
          <input type="submit" value="Přihlásit se">
        </div>
        {{ with .GetPage "/" }}
          <p class="_typo--small">{{ .Params.consent | markdownify }}</p>
        {{ end }}
      </form> -->

      <section>
        <h2>{{ i18n "get-overview" }}</h2>
        <ul>
          {{ with .Site.GetPage "pristupnost/snadne-cteni" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ with .Site.GetPage "situace" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ range where (where .Site.Pages ".RelPermalink" "/vystupy/") "Kind" "taxonomy" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ with .Site.GetPage "o-nas/predpisy" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ with .Site.GetPage "provoz/volna-mista-a-staze" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}

          <li><a href="https://domek.ochrance.cz">Domek polopatě – průvodce stavbou rodinného domu</a></li>
          
          {{ with .Site.GetPage "srozumitelne" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}

          <li><a href="https://deti.ochrance.cz/kdo/detskyombudsman/">Proč děti potřebují dětského ombudsmana?</a></li>
          
          <li><a href="/dokument/co_je_to_narodni_lidskopravni_instituce_a_proc_ji_v_cesku_potrebujeme/">Co je to národní lidskoprávní instituce (NHRI)?</a></li>
          
        </ul>
      </section>

      <section class="stay-in-touch">
        <h2>{{ i18n "stay-in-touch" }}</h2>
        <ul>
          <li>
            <span class="facebook-label">Facebook: </span>
            <a href="https://fb.com/verejny.ochrance.prav">verejny.ochrance.prav</a>
          </li>

          <li>
            <span class="twitter-label">{{ i18n "twitter" }}: </span>
            <a href="https://twitter.com/ochranceprav">@ochranceprav</a>
          </li>

          <li>
            <span class="instagram-label">Instagram: </span>
            <a href="https://www.instagram.com/verejny.ochrance.prav">verejny.ochrance.prav</a>
          </li>

          <!--
          <li>
            <span class="linkedin-label">LinkedIn: </span>
            <a href="https://www.linkedin.com/company/veřejný-ochránce-práv">Veřejný ochránce práv - ombudsman</a>
          </li>
          -->

          <li>
            <span class="youtube-label">Youtube: </span>
            <a href="https://www.youtube.com/channel/UCdWvuDhPr0GVH1mlSbWnNjQ">Ombudsman</a>
          </li>
          
          <li>
            <span class="podcast-label">Podcast: </span>
            <a href="https://anchor.fm/nakavusombudsmanem">Na kávu s ombudsmanem</a>
          </li>
        </ul>
      </section>

      <section class="stay-in-touch">
        <h2>{{ i18n "check-in" }}</h2>

        <ul>
          <li>
            <span class="email-label">{{ i18n "e-mail" }}: </span>
            <a href="mailto:{{ (.GetPage "kontakt").Params.email }}">{{ (.GetPage "kontakt").Params.email }}</a>
          </li>

          <li>
            <span class="phone-label">{{ i18n "phone" }}: </span>
            <span class="phone">{{ (.GetPage "kontakt").Params.phone }}</span>
          </li>

        </ul>
      </section>
    </div>
    <hr>
    <div class="bottom-line">
      <p>&copy; {{ now.Format "2006" }} {{ i18n "kvop" }}
        <a href="https://www.toplist.cz" style="margin-top: -20px;" id="toplist"></a>
        <script language="JavaScript" type="text/javascript" charset="utf-8">
          document.getElementById('toplist').innerHTML = ('<img src="https://toplist.cz/dot.asp?id=30867&http='+ encodeURIComponent(document.referrer)+'&t='+encodeURIComponent(document.title)+'&l='+encodeURIComponent(document.URL)+'&wi='+encodeURIComponent(window.screen.width)+'&he='+encodeURIComponent(window.screen.height)+'&cd='+encodeURIComponent(window.screen.colorDepth)+'" width="1" height="1" border=0 alt="TOPlist">');</script>
          <noscript><img src="https://toplist.cz/dot.asp?id=30867&njs=1" border="0" alt="TOPlist" width="1" height="1" /></noscript>
      </p>
      <p class="a11y">
        {{ with .GetPage "/" }}
          {{ .Params.accessibility | markdownify }}
        {{ end }}
      </p>
    </div>
  </footer>
</div>
