<div class="_backdrop footer">
  <footer class="_site-footer">
    <div class="cols">
      <form>
        <h2>Zůstaňte informovaní</h2>

        <p>Přihlaste se k odběru ezpravodaje</p>
        <div class="newsletter-wrapper">
          <input type="email" placeholder="jmeno@email.cz">
          <input type="submit" value="Přihlásit se">
        </div>
        <p class="_typo--small">Odesláním souhlasíte s <a href="/zpracovani-ou/">podmínkami zpracování osobních údajů</a></p>
      </form>

      <section>
        <h2>Získejte přehled</h2>
        <ul>
          <li><a href="">Životní situace</a></li>
          <li><a href="">Činnost kanceláře ochránce</a></li>
          <li><a href="">Zákon o veřejném ochránci práv</a></li>
          <li><a href="">GDPR, OOÚ, Cookies</a></li>
        </ul>
      </section>

      <section>
        <h2>Buďme v kontaktu</h2>

        <ul>
          <li>
            <span class="facebook-label">Facebook: </span>
            <a href="https://fb.com/verejny.ochrance.prav">verejny.ochrance.prav</a>
          </li>

          <li>
            <span class="email-label">E-mail: </span>
            <a href="mailto:podatelna@ochrance.cz">podatelna@ochrance.cz</a>
          </li>

          <li>
            <span class="phone-label">Telefon: </span>
            <span class="phone">777 777 777</span>
          </li>
        </ul>
      </section>
    </div>
    <hr>
    <div class="bottom-line">
      <p>&copy; 2020 Kancelář veřejného ochránce práv</p>
      <p class="a11y">
        <span class="mobile-p">Jsme přístupní</span>
        <a href="/pristupnost/budova/" class="movement">lidem s pohybovým znevýhodněním,</a>
        <a href="" class="seeing">lidem se zrakovým znevýhodněním,</a>
        <a href="" class="hearing">lidem se sluchovým znevýhodněním,</a>
        <span class="mobile-p">i lidem s jinými <a href="/pristupnost/">speciálními potřebami.</a></span>
      </p>
   </div>
  </footer>
</div>
