<div class="_backdrop header {{ with .Params.headerColor }}{{ . }}{{ end }}">
  <header class="_text-header">
    {{ with .Params.headerIcon }}
      <p><img src="{{ . }}" width="50"></p>
    {{ end }}
    {{ with .Params.date }}
      <p class="details">
        {{ i18n "published" }}
        {{ if eq $.Language.Lang "en" }}
          {{ . | dateFormat "January 2, 2006"}}
        {{ else }}
          {{ partial "date.html" (dict "date" . "months" $.Site.Data.months) }}
        {{ end }}
        {{ partial "tags.html" $ }}
      </p>
    {{ end }}

    <h1>{{ block "title" . }}{{ .Title }}{{ end }}</h1>
    <div class="perex">
      {{ if and (eq .Section "srozumitelne") (ne .Kind "section")  }}
        <p><a href="{{ (.GetPage "srozumitelne").Permalink | absURL }}">zpět na obsah příručky</a></p>
      {{ end }}

      {{ if and (eq .Section "pristupnost") (ne .Kind "section")  }}
        <p><a href="{{ (.GetPage "pristupnost").Permalink | absURL }}">zpět na obsah sekce</a></p>
      {{ end }}

      {{ if and (eq .Section "umluva") (ne .Kind "section")  }}
        <p class="_umluva-backlink"><a href="{{ (.GetPage "umluva").Permalink | absURL }}#obsah">zpět na obsah</a></p>
      {{ end }}

      {{- "" -}}<span class="{{ with .Params.descriptionInfoIcon }}icon-info{{ end }}" aria-hidden="true"></span>
      {{ with .Params.description }}
        {{ partial "md-block.html" . }}
      {{ end }}
    </div>
  </header>
</div>
