{{- $raw := replaceRE " - " " &mdash; " . -}}
{{- $raw = replaceRE "§ " "§ " $raw -}}
{{- $raw = replaceRE "(\\d) (\\d)" "$1 $2" $raw -}}
{{- $raw = replaceRE "(\\d)\\. (\\d)" "$1. $2" $raw -}}
{{- $raw = replaceRE "(\\d)\\. (\\d)" "$1. $2" $raw -}}
{{- $raw = replaceRE "(\\d)\\. (\\d)" "$1. $2" $raw -}}
{{- $raw = replaceRE "o. s. ř." "o. s. ř." $raw -}}
{{- $raw = replaceRE "a. s." "a. s." $raw -}}
{{- $raw = replaceRE "č. j." "č. j." $raw -}}
{{- $raw = replaceRE "o. s." "o. s." $raw -}}
{{- $raw = replaceRE "s. r. o." "s. r. o." $raw -}}
{{- $raw = replaceRE " Kč" " Kč" $raw -}}
{{- $raw = replaceRE "(\\s[AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž][AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž]?) " "$1 " $raw -}}
{{- $raw = replaceRE "(;[AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž][AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž]?) " "$1 " $raw -}}
{{- $raw = chomp $raw -}}
{{- $raw = markdownify $raw -}}

{{- $raw = replaceRE "##vec" "<span class=\"explanation-vec\">Věcné informace</span>" $raw -}}
{{- $raw = replaceRE "##hod" "<span class=\"explanation-hod\">Hodnocení</span>" $raw -}}
{{- $raw = replaceRE "##prav" "<span class=\"explanation-prav\">Právní pravidla</span>" $raw -}}
{{- $raw = replaceRE "##proc" "<span class=\"explanation-proc\">Procesní a organizační informace</span>" $raw -}}

{{- $raw = replaceRE "#vec ([^#\n]+)" "<span class=\"markup-vec\">$1</span>" $raw -}}
{{- $raw = replaceRE "#hod ([^#\n]+)" "<span class=\"markup-hod\">$1</span>" $raw -}}
{{- $raw = replaceRE "#prav ([^#\n]+)" "<span class=\"markup-prav\">$1</span>" $raw -}}
{{- $raw = replaceRE "#proc ([^#\n]+)" "<span class=\"markup-proc\">$1</span>" $raw -}}

{{- $raw | safeHTML -}}





