._about-person {
  .img-wrapper {
    img {
      width: 100%;
      filter: grayscale(100%);
    }
  }

  .big-quote {
    border: solid $border-gray;
    border-width: 1px 0;
    border-radius: 0;
    background: transparent;

    p {
      @include font-size-xl;
      text-indent: -0.4em;
      max-width: 67%;
    }
  }

  @include medium {
    .bio {
      @include grid(3fr 4fr);
      grid-column-gap: 4rem;
      max-width: 80vw;
    }

    .bio-text {
      margin-top: 4rem;
    }
  }
}
