._backdrop {
  padding: 0.1px 0;

  &.header {
    background: $green-bright;
  }

  &.news {
    background: $gray;
  }

  &.footer {
    background: $green;
    color: $white;
  }

  &.cta {
    background: $orange-bright;
  }

  &.pink {
    background: $pink-bright;
  }

  &.orange {
    background: $orange-bright;
  }

  &.green {
    background: $green-bright;
  }

  &.overflow {
    background: linear-gradient(
      180deg,
      $green-bright 4rem,
      rgba(255, 255, 255, 0) 4rem
    );

    margin-top: -3rem;
    padding-top: 0;
  }

  &.overflow-l {
    background: linear-gradient(
      180deg,
      $green-bright 10rem,
      rgba(255, 255, 255, 0) 10rem
    );

    margin-top: -3rem;
    padding-top: 0;
  }
}
