._button {
  @include button;

  &:hover {
    &::after {
      @include svg-bg($arrow, $black);
    }
  }

  &::after {
    display: inline-block;
    width: 1rem;
    height: 1.2em;
    vertical-align: bottom;
    padding-left: 0.75rem;
    content: " ";

    @include svg-bg($arrow, $green);
  }

  &.large {
    color: $white;
    background: $orange;
    padding: 0.8em 1.5em;
    border: none;
    @include font-size(16px, 22px);

    &::after {
      @include svg-bg($arrow, $white);
    }

    &:hover {
      background-color: $orange-dark;
    }
  }

  &.secondary {
    border: none;
    background-color: $gray;

    &:hover {
      color: $white;
      background-color: $black;

      &::after {
        @include svg-bg($arrow, $white);
      }
    }
  }
}

._button--wrapper {
  ._button {
    margin: 0 1rem 1rem 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
