._collapsible {
  .box {
    border: solid $border-gray;
    border-width: 1px 0;

    .content {
      display: none;
      padding: 0 0 1rem;
    }
  }

  & + ._collapsible .box {
    border-width: 0 0 1px;
  }

  .title {
    margin: 0;

    label {
      display: block;
      padding: 1.5rem 0;
      cursor: pointer;

      text-decoration: underline;
      color: $green;
    }

    &:hover label {
      text-decoration: none;
    }

    .chevron::before {
      pointer-events: none;
      float: right;
      @include fa-icon($fa-var-chevron-down);
      font-size: 1rem;
      padding: 1.8rem 0 0 0.5rem;
    }
  }

  input[type='checkbox'] {
    display: none;

    &:checked {
      & ~ .box .title .chevron::before {
        @include fa-icon($fa-var-chevron-up);
        font-size: 1rem;
      }

      & ~ .box .content {
        display: block;
      }
    }
  }
}
