._contact {
  @include grid(4rem 1fr);
  grid-gap: 1rem;
  align-items: center;
  margin: 1.5rem 0;

  p {
    margin: 0;

    .email,
    .phone {
      font-weight: bold;
      color: $green;
    }
  }

  .img-wrapper {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    overflow: hidden;

    img {
      display: block;
      filter: grayscale(100%);
      width: 100%;
    }
  }
}

._cta-contact {
  @include medium {
    max-width: 80vw;
    @include grid(1fr 300px);
  }

  h2 {
    margin-top: 1rem;
    @include font-size-xl;
  }

  p {
    font-weight: bold;
    @include font-size-l;
    white-space: nowrap;

    a,
    .phone {
      color: $green;
    }

    .phone-label,
    .email-label {
      display: inline-block;

      width: 2rem;
      overflow: hidden;
    }
    .phone-label::before {
      @include fa-icon($fa-var-phone-alt);
      width: 2rem;
    }
    .email-label::before {
      @include fa-icon($fa-var-envelope);
      width: 2rem;
    }
  }

  .img-wrapper {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    overflow: hidden;

    img {
      display: block;
      filter: grayscale(100%);
      width: 100%;
    }
  }
}
