._label {
  display: inline-block;
  white-space: nowrap;
  background: $green-bright;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  vertical-align: baseline;
}
