._tag {
  display: inline-block;
  white-space: nowrap;
  background: $green-bright;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.1rem 0.8rem;
  border-radius: 1rem;
  vertical-align: top;
  text-indent: 0;
}

._text-header ._tag,
._backdrop.news ._tag {
  background: $white;
}
