{{ define "main" }}
<main>
  <header class="_home-header">
    {{ $images := $.Site.GetPage "media" }}
    {{ with ($images.Resources.GetMatch (replaceRE "/media/" "" .Params.headerPic)) }}
      {{ with .Resize "2000x" }}
        <img src="{{ .Permalink }}" style="aspect-ratio: {{.Width}} / {{.Height}}" width={{ .Width }} height={{.Height}} alt="{{ .Params.headerPicAlt }}">
      {{ end }}
    {{ end }}
    <p class="motto">{{ .Params.claim }}</p>
  </header>
  <section class="_full single-col">
    <h2>{{ .Params.situationsTitle }}</h2>
    
    <ul class="layout _full two-col">
      {{ partial "home-links.html" (where .Site.Pages "Section" "potrebuji-pomoc") }}
    </ul>
  </section>

  <div class="_backdrop news">
    <section class="_news">
      <h2>{{ i18n "news" }}</h2>

      {{ $news := where (where .Site.Pages "Section" "aktualne") "Kind" "page" }}


      {{ range first 3 (sort (where $news "Params.vystupy" "intersect" .Params.aktuality) "Params.order") }}
        {{ partial "news-preview.html" (dict "preview" .) }}
      {{ end }}
      {{ with .GetPage "aktualne" }}
        <p><a href="{{ .Permalink }}" class="_button">{{ i18n "more-news" }}</a></p>
      {{ end }}

    </section>
  </div>

  {{ if eq .Language.Lang "cs" }}
  <section class="_full">
    <h2>{{ .Params.cinnostTitle }}</h2>

    <ul class="layout _full two-col">
      {{ with .GetPage "/info/setreni" }}
        {{ partial "home-links.html" . }}
      {{ end }}

      {{ range where (where .Site.Pages ".RelPermalink" "/vystupy/") "Kind" "taxonomy" }}
        {{ partial "home-links.html" . }}
      {{ end }}

      {{ with .GetPage "/vzdelavaci-akce" }}
        {{ partial "home-links.html" . }}
      {{ end }}

      {{ with .GetPage "/eso" }}
        {{ partial "home-links.html" . }}
      {{ end }}
    </ul>
  </section>
  {{ end }}

</main>
{{ end }}
