{{ define "main" }}
<main>
  <header class="_home-header">
    {{ $images := $.Site.GetPage "/images" }}
    {{ with $images.Resources.GetMatch (replaceRE "^.+images/" "" .Params.headerPic) }}
        <img src="{{ .RelPermalink }}" style="aspect-ratio: {{.Width}} / {{.Height}}" width={{ .Width }} height={{.Height}}>
    {{ end }}
    <p class="motto">{{ .Params.claim }}</p>
  </header>
  <section class="_full two-col">
    <h2>{{ .Params.situationsTitle }}</h2>
    {{ partial "home-links.html" (where .Site.Pages "Section" "potrebuji-pomoc") }}
  </section>

  <div class="_backdrop news">
    <section class="_news">
      <h2>{{ i18n "news" }}</h2>

      {{ range first 3 (sort (where (where .Site.Pages "Section" "aktualne") "Kind" "page") "Params.order") }}
        {{ partial "news-preview.html" . }}
      {{ end }}
      {{ with .GetPage "aktualne" }}
        <p><a href="{{ .RelPermalink }}" class="_button">{{ i18n "more-news" }}</a></p>
      {{ end }}

    </section>
  </div>

  <section class="_full two-col">
    <h2>{{ .Params.cinnostTitle }}</h2>

    {{ with .GetPage "/info/setreni" }}
      {{ partial "home-links.html" . }}
    {{ end }}

    {{ with .GetPage "/vystupy/" }}
      {{ partial "home-links.html" . }}
    {{ end }}

    {{ with .GetPage "/vzdelavaci-akce" }}
      {{ partial "home-links.html" . }}
    {{ end }}

    {{ with .GetPage "/eso" }}
      {{ partial "home-links.html" . }}
    {{ end }}
  </section>

</main>
{{ end }}
