{{ define "main" }}
<main data-pagefind-body>
  {{ partial "text-header.html" . }}

  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

      {{ range .Params.sections }}
        <h2>{{ .title }}</h2>
        {{ .intro | markdownify }}

        {{ if eq .title "Sekce právní" }}
          {{ range $.Params.lawyers }}
            <h3>{{ .title }}</h3>
            {{ with $.GetPage "/podejte-stiznost" }}
            <p>
              {{ i18n "email-is-not-registry"}}
              <a href="{{ .Permalink }}">{{ i18n "how-to-submit" }}</a></p>
            {{ end }}
            <ul class="_cards">
              {{ range .people }}
                <li class="card">
                  <strong>{{ .name }}</strong><br>
                  {{ .role }}<br>
                  {{ .phone }}<br>
                  <a href="mailto:{{ .email }}">{{ .email }}</a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
