{{ define "main" }}
<main>
  {{ partial "text-header.html" . }}

  <section>
    <h2>On-line</h2>

    <p>Vyplňte formulář krok za krokem přímo na internetu</p>

    <p><a href="/podejte-stiznost/" class="_button large">Podejte on-line</a></p>

    <h2>E-mailem</h2>

    <p>Stáhněte formulář, vytiskněte, vyplňte a pošlete:
    <strong><a href="">podatelna@ochrance.cz</a></strong></p>

    {{ partial "download-collapsible.html" (dict "title" "Stáhněte si formulář" "items" .Params.email)}}

    <h2>Poštou</h2>

    <p>Stáhněte formulář, vytiskněte, vyplňte a pošlete:</p>

    <p>Kancelář veřejného ochránce práv<br>
      Údolní 39<br>
      602 00 Brno</p>

    {{ partial "download-collapsible.html" (dict "title" "Stáhněte si formulář" "items" .Params.post)}}

    <p><a href="#">Nápověda pro vyplnění</a></p>

    <h2>Osobně v Brně</h2>

    <p>Pomůžeme vám sepsat stížnost, zastavte se u nás</p>

    <p>Kancelář veřejného ochránce práv<br>
      Údolní 39<br>
      602 00 Brno<br>
      Osobní příjem</p>

    <p>Vyplněný podnět doneste na podatelnu</p>

    {{ partial "download-collapsible.html" (dict "title" "Stáhněte si formulář" "items" .Params.inperson)}}

    <h2>Podání podnětu bez bariér</h2>

    <p>Potřebujete podat podnět v českém znakovém jazyce nebo braillově písmu?</p>

    <p class="_button--wrapper">
      <a href="./braille/" class="_button">V braillově písmu</a>
      <a href="./czj/" class="_button">V českém znakovém jazyce</a>
    </p>

    <hr>

    <h2 class="_icon-info">Jak správně vyplnit podání?</h2>

    {{ partial "md-block.html" .Params.submission.body }}

    {{ partial "download-collapsible.html" (dict "title" "Stáhněte si příklad" "items" (index .Params.submission "example-links"))}}
  </section>

  {{ partial "cta-contact.html" . }}
</main>
{{ end }}
