{{ define "main" }}
<main class="_contact-page _main--backdrop-s" data-pagefind-body>
  <div class="_backdrop header">
    <header class="_pic-header">
      <div>
        <h1>
          {{ .Title }}
        </h1>
        
        <div class="perex">{{- "" -}}
          <p class="quick-phone">
            <span class="phone-label">telefon:</span>
            <span class="phone">{{ .Params.phone }}</span>
            <br>
            <span class="{{ with .Params.pic }}icon-info{{ end }}" aria-hidden="true"></span>
            {{ with .Params.description }}
              {{ partial "md-block.html" . }}
            {{ end }}
          </p>
        </div>
      </div>

      {{ $images := $.Site.GetPage "/images" }}
      {{ $pic := $images.Resources.GetMatch (replaceRE ".+/" "" .Params.headerPic) }}
      {{ with $pic }}
        <div class="single-hue-pic-wrapper">
          <div class="single-hue-pic">
            <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true">
          </div>
        </div>
      {{ end }}
    </header>
  </div>

  <section class="digital">
    <div class="">
      <ul>
        <li class="email">{{ i18n "e-mail" }} <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></li>
        <li>{{ i18n "data-box-id" }}: <strong>jz5adky</strong></li>
      </ul>
      {{ with .GetPage "info/pravidla-komunikace" }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    </div>

    {{ with .Params.pressAgent }}
    <div>
      {{ with $.Params.intl }}
        <div class="intl">
          <h2>{{ .role }}</h2>
          <p>
            <strong>{{ .name }}</strong><br>
            {{ .phone }}<br>
            <a href="mailto:{{ .email }}">{{ .email }}</a>
          </p>
        </div>
      {{ end }}

      <div class="press-agent">
        <h2>{{ .role }}</h2>
        <p>
          <strong>{{ .name }}</strong><br>
          {{ .phone }}<br>
          <a href="mailto:{{ .email }}">{{ .email }}</a>
        </p>
      </div>
    </div>
    {{ end }}
  </section>


  <section class="_full two-col">
    {{ .Content }}

    <div class="address-wrapper">
      <h2>{{ i18n "where" }}</h2>
      <div class="address-comment">
        {{ partial "md-block.html" .Params.addressComment }}
      </div>
      <div class="address">
        {{ partial "md-block.html" .Params.address }}
      </div>
    </div>

    <iframe class="map" src="https://en.frame.mapy.cz/s/dobadopeva" width="400" height="400" frameborder="0" aria-hidden="true"></iframe>

    {{ with .Params.access }}
    <div>
      <h2>{{ i18n "instructions" }}</h2>
      <dl>
        <dt class="walk-label">{{ i18n "on-foot" }}</dt>
        <dd>
          {{ partial "md-block.html" .walk }}
        </dd>

        <dt class="public-label">{{ i18n "public-transport" }}</dt>
        <dd>
          {{ partial "md-block.html" .public }}
        </dd>

        <dt class="universal-label">{{ i18n "accessible-by-all" }}</dt>
        <dd>
          {{ partial "md-block.html" .universal }}
        </dd>
      </dl>

    </div>
    <div>
      {{ $images := $.Site.GetPage "/images" }}
      {{ $pic := $images.Resources.GetMatch (replaceRE ".+/" "" .pic) }}
      {{ with $pic }}
        <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true" class="_gray-pic">
      {{ end }}
    </div>
    {{ end }}

  </section>


</main>
{{ end }}



