{{ define "main" }}
<main class="_about-us">
  {{ partial "text-header.html" . }}

  <div class="_backdrop overflow-l">
    <section class="portraits">
      {{ with .GetPage "ombudsman" }}
        {{ block "portrait" . }}{{ end }}
      {{ end }}

      {{ with .GetPage "deputy" }}
        {{ block "portrait" . }}{{ end }}
      {{ end }}
    </section>

    <section>
      {{ .Content }}

      {{ with .Params.links }}
        {{ partial "link-list.html" . }}
      {{ end }}
    </section>
  </div>

  <div class="_backdrop cta">
    <section class="_full">
      <h2>{{ i18n "scope" }}</h2>
      <ul class="_link-list two-col">
        {{ range where (where .Site.Pages "Section" "pusobnost") "Kind" "page" }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>
  </div>


  <section class="_full">
    <h2>{{ i18n "ops" }}</h2>
    <ul class="_link-list two-col">
      {{ range where (where .Site.Pages "Section" "provoz") "Kind" "page" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>

  <footer class="_footer-pic">
    <div class="text">
      <h2>
        {{ i18n "want-to-know-more" }}
      </h2>

      <p>{{ i18n "more-what-we-do" }}</p>

      <p><a href="/aktualne/" class="_button">{{ i18n "news" }}</a>

    </div>

    {{ $images := $.Site.GetPage "/images" }}
    {{ $pic := $images.Resources.GetMatch (replaceRE ".+/" "" .Params.footerPic) }}
    {{ with $pic }}
      <div class="single-hue-pic-wrapper">
        <div class="single-hue-pic">
          <img src="{{ ($pic.Resize "600x").RelPermalink }}" alt="" aria-hidden="true">
        </div>
      </div>
    {{ end }}
  </footer>

</main>
{{ end }}


{{ define "portrait" }}
<div>
  {{ partial "pic.html" (dict "pic" .Params.pic "Resources" .Resources "resize" "600x") }}

  <p>
    <a href="{{ .RelPermalink }}">
      {{- .Params.name -}}
    </a>
    <br>
    {{ .Title }}
  </p>
</div>
{{ end }}
