{{ define "main" }}
<main class="_about-person">
  {{ partial "pic-header.html" . }}

  {{ with .Params.timeline }}
    <section>
      <dl class="timeline">
        {{ range . }}
          <dt>{{ .time }}</dt>
          <dd>{{ .desc }}</dd>
        {{ end }}
      </dl>
    </section>
  {{ else }}
    {{ if isset .Params "bio" }}
      <div class="_backdrop overflow">
        <section class="bio">
          {{ partial "pic.html" (dict "pic" .Params.pic "Resources" .Resources "resize" "600x") }}

          <div class="bio-text">
            <h2>{{ .Params.name }}</h2>
            {{ partial "md-block.html" .Params.bio }}
          </div>
        </section>
      </div>

      {{ with .Params.quote }}
      <section class="_full">
        <blockquote class="big-quote">
          {{ partial "md-block.html" . }}
        </blockquote>
      </section>
      {{ end }}

      {{ with .Params.areas }}
        <section>
          <h2>{{ $.Title }} {{ i18n "cares-about" }}</h2>

          <ul>
            {{ range . }}
              <li>
                <strong>{{ .area }}</strong>
                {{ with .desc }}
                  <br>
                  {{ . }}
                {{ end }}
              </li>
            {{ end }}
          </ul>
        </section>
      {{ end }}
    {{ else }}
      <section>
        <div class="perex">
          {{ partial "md-block.html" .Params.perex }}
        </div>

        {{ with .Params.links }}
          {{ partial "link-list.html" . }}
        {{ end }}

        {{ .Content }}
      </section>
    {{ end }}
  {{ end }}

  <footer class="_footer-pic">
    <div class="text">
      {{ partial "check-scope.html" . }}
    </div>

    {{ $images := $.Site.GetPage "/images" }}
    {{ $pic := $images.Resources.GetMatch (replaceRE ".+/" "" .Params.footerPic) }}
    {{ with $pic }}
      <div class="single-hue-pic-wrapper">
        <div class="single-hue-pic">
          <img src="{{ ($pic.Resize "600x").RelPermalink }}" alt="" aria-hidden="true">
        </div>
      </div>
    {{ end }}
  </footer>

</main>
{{ end }}
