{{ define "main" }}
<main>
  {{ partial "text-header.html" . }}

  <section>
    {{ $textContent := .Params.textcontent }}
    <ul class="_link-list">
    {{ range .Params.chapters }}
      {{ $chapterSlug := .chapter }}
      {{ $chapter := $.Site.GetPage (print "srozumitelne/" .chapter) }}
      {{ $beforeText := "" }}
      {{ range $textContent }}
        {{ if eq .before $chapterSlug }}
          {{ $beforeText = . }}
        {{ end }}
      {{ end }}
      {{ with $beforeText }}
        </ul>
        {{ $beforeText.text | markdownify }}
        <ul class="_link-list">
      {{ end }}
      <li><a href="{{ $chapter.Permalink }}">{{ $chapter.Title }}</a></li>
    {{ end }}
    </ul>
  </section>
</main>
{{ end }}


