{{ define "main" }}
<main>
  {{ partial "text-header.html" . }}
  <div {{ with .Params.contentBackdrop }} class="{{ . }}"{{ end }}>
    <section>
      {{ with .Params.perex }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

      {{ with .Params.links }}
        {{ partial "link-list.html" (dict "list" . "page" $) }}
      {{ end }}

    	{{ partial "typo.html" .RawContent }}

      {{ with .Params.linksAfter }}
        {{ partial "link-list.html" (dict "list" . "page" $) }}
      {{ end }}

      <div class="_srozumitelne-navigation">
        {{ $chapters := split "00,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17" "," }}
        {{- range $key, $val := $chapters -}}
          {{ if eq $val (substr $.File.Dir -3 2) }}
          {{ with index $chapters (sub $key 1) }}
            {{ $page := $.GetPage (print "/srozumitelne/" .) }}
            <a href="{{ $page.Permalink | absURL }}">{{ $page.Title }}</a>
          {{ else }}
            {{ $page := $.GetPage "srozumitelne" }}
            <a href="{{ $page.Permalink | absURL }}">Obsah příručky</a>
          {{ end }}
          {{ with index $chapters (add $key 1) }}
            {{ $page := $.GetPage (print "/srozumitelne/" .) }}
            {{ with $page }}
              <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
            {{ end }}
          {{ end }}
          {{ end }}
        {{- end -}}
      </div>
    </section>
  </div>
</main>
{{ end }}
