{{ define "main" }}
<main>
  {{ partial "text-header.html" . }}

  <div {{ with .Params.pic }}class="_backdrop overflow"{{ end }}>
    <section>
      {{ with .Params.pic }}
        {{ $pic := $.Resources.GetMatch . }}
        {{ with $pic }}
          <div class="img-wrapper">
            <img class="_gray-pic" src="{{ ($pic.Resize "500x").RelPermalink }}" alt="" aria-hidden="true">
          </div>
        {{ end }}
      {{ end }}

      <div class="perex">
        {{ partial "md-block.html" $.Params.perex }}
      </div>

      {{ .Content }}
    </section>
  </div>

  <section class="_no-print">
    <p>
      <a href="#" onClick="window.print();">{{ i18n "print" }}</a>
    </p>

    {{ with .GetPage "/aktualne"}}
    <p>
      <a class="_button back" href="{{ .RelPermalink }}">{{ i18n "back-to-news" }}</a>
    </p>
    {{ end }}
  </section>
</main>
{{ end }}
