{{ $random := delimit (shuffle (split (md5 (.Get 0)) "" )) "" }}
<div class="_collapsible">
  <input type="checkbox" id="{{ $random }}">
  <div class="box">
    <h3 class="title">
      <span class="chevron" aria-hidden="true"></span>
      <label role="button" tabindex="0" class="opener" for="{{ $random }}" aria-controls="{{ $random }}-content" aria-expanded="false">
        {{ .Get 0 }}
      </label>
    </h3>
    <div class="content" id="{{ $random }}-content">
      {{ partial "md-block.html" .Inner }}
    </div>
  </div>
</div>
