{{ define "main" }}
<main>
  {{ partial "pic-header.html" . }}

  <section>
    <div class="perex">
      {{ partial "md-block.html" .Params.description }}
    </div>

    <h2>{{ i18n "current-projects" }}</h2>

    <ul class="_link-list">
      {{ range where .Pages "Params.ongoing" true }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>

    <h2>{{ i18n "past-projects" }}</h2>

    <ul class="_link-list">
      {{ range where .Pages "Params.ongoing" false }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>

  <footer class="_footer-pic">
    <div class="text">
      {{ partial "check-scope.html" . }}
    </div>

    {{ $images := $.Site.GetPage "/images" }}
    {{ $pic := $images.Resources.GetMatch (replaceRE ".+/" "" .Params.footerPic) }}
    {{ with $pic }}
      <div class="single-hue-pic-wrapper">
        <div class="single-hue-pic">
          <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true">
        </div>
      </div>
    {{ end }}
  </footer>
</main>
{{ end }}
