{{ define "main" }}
<main>
  {{ partial "text-header.html" . }}

  <section>
    <div class="_partners">
      <h2>{{ i18n "project-partners" }}</h2>

      {{ range .Params.partners }}
        {{ $partner := . }}
        {{ with .logo }}
          {{ $pic := $.Resources.GetMatch (replaceRE ".+/" "" .) }}
          {{ with $pic }}
            <img src="{{ ($pic).Permalink }}" alt="{{ $partner.name }}" aria-hidden="true">
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

    {{ with .Params.illustration }}
    <figure aria-hidden="true">
      {{ $pic := $.Resources.GetMatch (replaceRE ".+/" "" .pic) }}
      {{ with $pic }}
        <img class="_gray-pic" src="{{ ($pic.Resize "600x").Permalink }}" alt="">
      {{ end }}
      <figcaption>{{ .caption }}</figcaption>
    </figure>
    {{ end }}

    {{ .Content }}

    {{ with .Params.gallery }}
      <div class="_gallery">
        {{ range . }}
          <div>
            {{ $alt := .alt }}
            {{ $pic := $.Resources.GetMatch (replaceRE ".+/" "" .pic) }}
            {{ with $pic }}
              <img src="{{ ($pic.Resize "400x").Permalink }}" alt="{{ $alt }}" aria-hidden="true">
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </section>

  {{ with (where (where .Site.Pages "Section" "aktualne") "Params.project" .Title) }}
    <div class="_backdrop news">
      <section class="_news single-col">
        <h2>{{ i18n "news" }} [TODO filtrování]</h2>
        {{ range sort . "Params.order" }}
          {{ partial "news-preview.html" . }}
        {{ end }}
      </section>
    </div>
  {{ end }}

  <section>
      {{ partial "md-block.html" .Params.bonus }}
  </section>

  <footer class="_footer-pic">
    <div class="text">
      {{ partial "check-scope.html" . }}
    </div>

    {{ $images := $.Site.GetPage "/images" }}
    {{ $pic := $images.Resources.GetMatch (replaceRE ".+/" "" .Params.footerPic) }}
    {{ with $pic }}
      <div class="single-hue-pic-wrapper">
        <div class="single-hue-pic">
          <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true">
        </div>
      </div>
    {{ end }}
  </footer>
</main>
{{ end }}
